.hero {
  height: calc(100vh + 5rem);
  background-image: radial-gradient(
      circle at 21% 44%,
      rgba(23, 23, 23, 0.05) 0%,
      rgba(23, 23, 23, 0.05) 50%,
      rgba(109, 109, 109, 0.05) 50%,
      rgba(109, 109, 109, 0.05) 100%
    ),
    radial-gradient(
      circle at 21% 96%,
      rgba(92, 92, 92, 0.05) 0%,
      rgba(92, 92, 92, 0.05) 50%,
      rgba(199, 199, 199, 0.05) 50%,
      rgba(199, 199, 199, 0.05) 100%
    ),
    radial-gradient(
      circle at 25% 37%,
      rgba(230, 230, 230, 0.05) 0%,
      rgba(230, 230, 230, 0.05) 50%,
      rgba(25, 25, 25, 0.05) 50%,
      rgba(25, 25, 25, 0.05) 100%
    ),
    linear-gradient(440deg, rgb(122, 32, 72), rgb(30, 39, 97));
  margin-top: -5rem;
  padding-top: 5rem;

  &__center {
    max-width: 1250px;
    width: 95vw;
    margin: 0 auto;
    height: 100%;
    display: grid;
    align-items: center;

    &__content {
      margin-top: -5rem;
      color: #fff;

      h1 {
        font-size: 4.5rem;
        font-weight: 600;
      }

      h4 {
        font-size: 2rem;
      }

      .btn {
        text-transform: uppercase;
        margin: 2rem 0;
        width: 20rem;
        box-shadow: inset 0 0 0 0 $color-terciary;
        color: #fff;
        padding: 1rem 0.75rem;
        letter-spacing: $letter-spacing;
        transition: ease-out 0.3s;
        font-weight: 500;
        font-size: 1.4rem;
        font-family: $font-secondary;
        outline: none;
        border: 2px solid $color-terciary;
        background: transparent;
        cursor: pointer;

        &:hover {
          box-shadow: inset 20rem 0 0 0 $color-terciary;
        }
      }
    }
  }
}
