.hero {
  height: 100vh;
  width: 100%;
  margin-top: -7rem;
  position: relative;

  @include gradientBackground(top, left);

  &__center {
    @include centerElement;
    height: 100%;
    display: grid;
    align-items: center;

    @include MediaQuery(600px) {
      width: 90vw;
    }

    &__content {
      margin-top: -5rem;
      color: #fff;
      word-spacing: 0.5rem;
      font-size: 2.7rem;

      h1 {
        font-weight: bold;
        span {
          color: $color-terciary;
        }
      }

      h4 {
        margin-bottom: 2rem;
      }

      .btn {
        display: inline-block;
        outline: none;
        width: 20rem;
        text-align: center;
        text-transform: uppercase;
        box-shadow: inset 0 0 0 0 $color-terciary;
        color: #fff;
        padding: 0.75rem;
        letter-spacing: $letter-spacing;
        transition: linear 0.3s;
        font-weight: 500;
        font-size: 1.4rem;
        font-family: $font-secondary;
        border: 2px solid $color-terciary;
        background: transparent;
        cursor: pointer;

        &:hover {
          box-shadow: inset 20rem 0 0 0 $color-terciary;
        }
      }

      @include MediaQuery(730px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      @include MediaQuery(550px) {
        font-size: 2.2rem;
      }

      @include MediaQuery(374px) {
        font-size: 2rem;
      }
    }
  }
  &__wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 1;
    margin-bottom: -5px;

    svg {
      position: relative;
      display: block;
      width: calc(150% + 1.3px);
      height: 30vh;
    }

    .shape-fill {
      fill: #ffffff;
    }

    @include MediaQuery(768px) {
      display: none;
    }
  }
}
