.projects {
  padding: 5rem 0;
  background: #fff;

  @include MediaQuery(700px) {
    padding: 3rem 0;
  }

  &__center {
    @include centerElement;

    h1 {
      text-align: center;
      font-size: 3.5rem;
      color: $color-primary;

      @include MediaQuery(335px) {
        font-size: 2.5rem;
      }

      @include MediaQuery(600px) {
        font-size: 3rem;
      }
    }

    &--underline {
      @include underline;
      margin: 2rem auto 0 auto;

      @include MediaQuery(700px) {
        margin: 1rem auto;
      }
    }

    &__project {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      align-items: center;
      overflow-x: hidden;
      margin: 8rem 0 25rem 0;

      @include MediaQuery(700px) {
        display: flex;
        flex-direction: column;
        margin: 10rem 0;
      }

      &__img {
        position: relative;
        grid-column: 1 / span 8;
        grid-row: 1 / 1;
        height: 45rem;
        box-shadow: $dark-shadow;
        img {
          overflow: hidden;
          border-radius: 0.6rem;
        }

        @include MediaQuery(1145px) {
          grid-column: 1 / span 9;
        }

        @include MediaQuery(950px) {
          grid-column: 1 / span 10;
        }

        @include MediaQuery(876px) {
          grid-column: 1 / span 11;
        }

        @include MediaQuery(700px) {
          display: none;
        }
      }

      &__info {
        box-shadow: $dark-shadow;
        grid-row: 1 / 1;
        z-index: 1;
        grid-column: 5 / 12;
        padding: 2rem;
        color: #fff;
        border-radius: 0.6rem;

        @include gradientBackground(center, right);

        @include MediaQuery(1145px) {
          grid-column: 4 / 12;
        }

        @include MediaQuery(950px) {
          grid-column: 3 / 12;
        }

        @include MediaQuery(876px) {
          grid-column: 3 / 13;
        }

        @include MediaQuery(800px) {
          grid-column: 2 / 13;
        }

        @include MediaQuery(700px) {
          min-height: 40rem;
        }

        h2 {
          margin-bottom: 1rem;
        }

        &__stack {
          margin-top: 1.5rem;

          span:not(:last-of-type) {
            margin-right: 0.8rem;
          }

          span {
            @include stackSpan();
          }
        }

        &__links {
          margin-top: 1.5rem;

          &__icon {
            color: #fff;
            margin-right: 0.8rem;
            font-size: 2rem;
            transition: all 0.3s linear;

            &:hover {
              transform: scale(1.2);
              color: $color-terciary;
            }

            &--secondary {
              &:hover {
                transform: scale(1.2);
                color: $color-primary;
              }
            }
          }
        }
      }
    }

    &__project:last-child {
      margin: 0 0 15rem 0;
    }

    &__project:nth-of-type(odd) &__project__img {
      grid-column: 5 / -1;
      grid-row: 1 / 1;

      @include MediaQuery(1145px) {
        grid-column: 4 / -1;
      }

      @include MediaQuery(950px) {
        grid-column: 3 / -1;
      }

      @include MediaQuery(876px) {
        grid-column: 2 / -1;
      }

      @include MediaQuery(700px) {
        display: none;
      }
    }

    &__project:nth-of-type(odd) &__project__info {
      grid-column: 2 / span 7;
      grid-row: 1 / 1;

      @include gradientBackground(center, left);

      @include MediaQuery(1145px) {
        grid-column: 2 / span 8;
      }

      @include MediaQuery(950px) {
        grid-column: 2 / span 9;
      }

      @include MediaQuery(876px) {
        grid-column: 1 / span 10;
      }

      @include MediaQuery(800px) {
        grid-column: 1 / span 11;
      }

      @include MediaQuery(700px) {
        grid-column: 1 / 13;
      }

      &__links {
        &__icon {
          &:hover {
            color: $color-primary;
          }
        }
      }
    }

    @include MediaQuery(600px) {
      width: 90vw;
      h1 {
        font-size: 3rem;
      }
    }
  }
}
