@mixin MediaQuery($BP) {
  @media screen and (max-width: $BP) {
    @content;
  }
}

@mixin gradientBackground($pos1, $pos2) {
  background-image: radial-gradient(
    circle at $pos1 $pos2,
    rgb(183, 48, 108),
    rgb(30, 39, 97)
  );
}

@mixin centerElement {
  max-width: 1250px;
  width: 95vw;
  margin: 0 auto;
}

@mixin underline {
  width: 6rem;
  height: 0.4rem;
  background-color: $color-terciary;
}
