@mixin MediaQuery($BP) {
  @media screen and (max-width: $BP) {
    @content;
  }
}

@mixin gradientBackground($pos1, $pos2) {
  background: linear-gradient(109.6deg, rgb(20, 30, 48) 11.2%, rgb(36, 59, 85) 91.1%);
}

@mixin centerElement {
  max-width: 1024px;
  width: 95vw;
  margin: 0 auto;
}

@mixin underline {
  width: 6rem;
  height: 0.4rem;
  background-color: $color-terciary;
}

@mixin stackSpan {
  display: inline-block;
  cursor: context-menu;
  padding: 0.3rem;
  margin-bottom: 0.8rem;
  color: $color-primary;
  background-color: #fff;
  border-radius: 0.4rem;
  font-family: $font-primary;
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: capitalize;
}
