@import "./index.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
  background-color: #fff;
}

body {
  height: 100%;
  font-family: $font-primary;
  font-weight: 400;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

p {
  word-spacing: 2px;
}

ul {
  list-style: none;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 10px;
  background: #ffffff;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #e52165;
  border-radius: 10px;
}
