@import "./index.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  font-family: $font-primary;
  font-weight: 400;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

#__next {
  // background: linear-gradient(178.1deg, #121212 8.5%, #1A1A1A 50%, #232323 82.4%);
  background: linear-gradient(178.1deg, #0B0B0D 8.5%, #151517 50%, #1E1E20 82.4%);
  // background: linear-gradient(178.1deg, #0E0E0E 8.5%, #181818 50%, #222222 82.4%);
}

p {
  word-spacing: 2px;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
  font-weight: 400;
  color: #fff;
  word-spacing: 2px;
}

.text-sm {
  font-size: 1.4rem;
}

.text-terciary {
  color: $color-terciary
}

.text-white {
  color: #fff;
}

.group:last-child .group-last\:before\:hidden::before {
  content: var(--tw-content);
  display: none;
}
