$color-primary: #1e2761;
$color-secondary: #7a2048;
// $color-terciary: #be1558;
$color-terciary: #e52165;

$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

$letter-spacing: 0.2rem;

$font-primary: "Open Sans", sans-serif;
$font-secondary: "Archivo", sans-serif;
