.about {
  padding: 5rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  @include gradientBackground(bottom, right);

  &__wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 1;
    margin-top: -5px;
    svg {
      position: relative;
      display: block;
      width: calc(150% + 1.3px);
      height: 30vh;
    }

    .shape-fill {
      fill: #ffffff;
    }

    @include MediaQuery(768px) {
      display: none;
    }
  }

  &__center {
    @include centerElement;

    @include MediaQuery(600px) {
      width: 90vw;
    }

    &__text {
      box-shadow: $dark-shadow;
      position: relative;
      min-height: 50rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      padding: 3rem;
      color: $color-primary;
      border-radius: 1rem;
      z-index: 2;

      &__accordionWrapper {
        width: 75%;

        @include MediaQuery(768px) {
          width: 100%;
        }

        h1 {
          @include MediaQuery(335px) {
            font-size: 2.5rem;
          }

          @include MediaQuery(600px) {
            font-size: 3rem;
          }
        }
      }

      h1 {
        font-size: 3.5rem;
      }

      &--underline {
        @include underline;
        margin: 2rem auto;
      }

      &__content {
        p {
          font-weight: 600;
          line-height: 3rem;
          word-spacing: 2px;
          max-width: 100rem;

          &:last-of-type {
            margin-top: 4rem;
          }

          span {
            color: $color-terciary;
          }
        }

        a {
          font-weight: 600;
          font-family: $font-primary;
          line-height: 2.5rem;
          word-spacing: 2px;
          color: $color-terciary;
        }
      }
    }

    @include MediaQuery(600px) {
      &__text {
        padding: 2rem;
        text-align: left;

        &--underline {
          margin: 2rem auto;
        }

        h1 {
          font-size: 3rem;
        }
      }
    }

    @include MediaQuery(335px) {
      &__text {
        h1 {
          font-size: 2.5rem;
        }
      }
    }

    &__footer {
      margin-top: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include MediaQuery(759px) {
        margin-top: 5rem;
      }

      &__arrow {
        width: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &__icon {
          color: $color-terciary;
          font-size: 4rem;
          transition: all 0.3s linear;

          &:hover {
            transform: scale(1.2);
          }
        }
      }

      &__links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 15rem;

        a {
          cursor: pointer;
        }

        &__icon {
          color: #fff;
          font-size: 3rem;
          transition: all 0.3s linear;

          &--color {
            color: $color-terciary;
          }

          &:hover {
            transform: scale(1.2);
          }
        }
      }

      &__underline {
        width: 30rem;
        height: 0.2rem;
        background-color: $color-terciary;
        margin: 2rem auto;
      }

      p {
        color: #fff;
      }
    }
  }
}
