.about {
  padding: 5rem 0;
  background-image: $main-background;

  &__center {
    @include centerElement;
    display: flex;
    flex-wrap: wrap;

    @include MediaQuery(600px) {
      width: 90vw;
    }

    &__column {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
      box-shadow: $dark-shadow;

      &__photo {
        min-height: 66.3rem;
        position: relative;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;

        img {
          border-top-right-radius: 1rem;
          border-bottom-right-radius: 1rem;
        }
      }

      &__text {
        min-height: 66.3rem;
        background-color: #fff;
        padding: 3rem;
        color: $color-primary;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;

        h1 {
          font-size: 3.5rem;
        }

        &--underline {
          @include underline;
          margin: 2rem auto 2rem 0;
        }

        &__content {
          p {
            font-weight: 600;
            line-height: 2.5rem;
            word-spacing: 2px;

            &:last-of-type {
              margin-top: 4rem;
            }

            span {
              color: $color-terciary;
            }
          }

          a {
            font-weight: 600;
            font-family: $font-primary;
            line-height: 2.5rem;
            word-spacing: 2px;
            color: $color-terciary;
          }
        }
      }
    }

    @include MediaQuery(1025px) {
      display: block;

      &__column {
        &__photo {
          display: none;
        }

        &__text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 3rem;
          border-radius: 1rem;
          text-align: center;

          &--underline {
            margin: 2rem auto;
          }
        }
      }
    }

    @include MediaQuery(600px) {
      &__column {
        &__text {
          padding: 2rem;
          text-align: left;

          &--underline {
            margin: 2rem auto 0 0;
          }

          h1 {
            font-size: 3rem;
          }
        }
      }
    }

    &__footer {
      margin-top: 10rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__arrow {
        width: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &__icon {
          color: $color-terciary;
          font-size: 4rem;
          transition: all 0.3s linear;

          &:hover {
            transform: scale(1.2);
          }
        }
      }

      &__links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 15rem;

        a {
          cursor: pointer;
        }

        &__icon {
          color: #fff;
          font-size: 3rem;
          transition: all 0.3s linear;

          &--color {
            color: $color-terciary;
          }

          &:hover {
            transform: scale(1.2);
          }
        }
      }

      &__underline {
        width: 30rem;
        height: 0.2rem;
        background-color: $color-terciary;
        margin: 2rem auto;
      }

      p {
        color: #fff;
      }
    }
  }
}
